body {
  background-color: #0a22f4;
  
  
}

.big {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 41px 0 41px;
}

h2 {
  color: #ffffff;
  font-size: 32px;
  width: 162px;
  height: 38px;
}

.text p {
  font-size: 16px;
  width: 463px;
  height: 99px;
  color: #ffffff;
  margin: 20px 0 30px;
}

.text2 p {
  color: white;
  margin-bottom: 40px;
  border-bottom: 2px solid rgba(252, 252, 252, 0.507);
  width: 400px;
  padding: 10px;
}

.leftside {
  width: 350px;
}

.icons img {
  width: 17px;
  height: 17px;
  border: 2px solid blue;
  background-color: #ffffff;
  border-radius: 120px;
  padding: 15px;
  margin-right: auto;
}

.icons {
  display: flex;
  width: 500px;
  margin-top: 30px;
  color: #ffffff;
  gap: 20px;
}

iframe {
  border-radius: 5%;
}

.click {
  /* float: right;
    margin-top: 40px;
    margin-right: 241px; */
  display: flex;
  justify-content: flex-end;
  margin-right: 241px;
}

.click button {
  color: #171717;
  border-radius: 120px;
  padding: 18px 36px;
  border: none;
  cursor: pointer;
}


footer{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 80px 241px 0 200px;

    
}


.rightsidefooter{
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    align-items: center;
}


span{
    position: absolute;
    
}